@import '~assets/styles/_config.scss';

.emp-header {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow: visible;
}

a {
    text-decoration: none;
}

.welcomeText {
    margin: 32px 0 10px 0px;
}

.welcomeText h1 {
    font-size: 24px;
    font-weight: bold;
}

.welcomeText span {
    color: #01c5ad;
}

.welcomeText .env-dev {
    color: #d1b205;
}

.welcomeText .env-stg {
    color: #b43232;
}

.mainIcon p {
    margin: 10px 0px 0 0px;
}

.text-bold {
    font-weight: bold !important;
}

.mainIcon a.lightCol,
.mainIcon a.darkCol {
    display: block;
    height: 200px;
    text-align: center;
    color: $primary-text;
    padding: 65px 0 0 0;
    text-decoration: none;
}

.mainIcon .darkCol {
    background: #00a490;
    outline: none;
}

.mainIcon .lightCol {
    background: #01c5ad;
    outline: none;
}

.mainIcon .darkCol:hover {
    background: #029886;
    text-decoration: none;
}

.mainIcon .lightCol:hover {
    background: #02b59f;
    text-decoration: none;
}

.mainIcon .darkCol.active,
.mainIcon .lightCol.active {
    background: $primary-text;
    color: #02b59f;
}

.mainIcon .userSetting,
.mainIcon .dashboard,
.mainIcon .menus,
.mainIcon .userManagement,
.mainIcon .events,
.mainIcon .reports {
    width: 40px;
    height: 45px;
    background: url(~/assets/images/sprite.png) no-repeat;
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
}

.mainIcon .dashboard {
    background-position: 0px -180px;
}

.mainIcon .userSetting {
    background-position: -200px -180px;
}

.mainIcon .menus {
    background-position: -40px -180px;
}

.mainIcon .userManagement {
    background-position: -80px -180px;
}

.mainIcon .events {
    background-position: -120px -180px;
}

.mainIcon .reports {
    background-position: -160px -180px;
}

/*Active Icons*/

.mainIcon .active .dashboard {
    background-position: 0px -225px;
}

.mainIcon .active .userSetting {
    background-position: -200px -225px;
}

.mainIcon .active .menus {
    background-position: -40px -225px;
}

.mainIcon .active .userManagement {
    background-position: -80px -225px;
}

.mainIcon .active .events {
    background-position: -120px -225px;
}

.mainIcon .active .reports {
    background-position: -160px -225px;
}

.mainIcon .active {
    color: #01c5ad;
}

.subIcons-container {
    padding-bottom: 80px;
    word-break: break-all;
    display: block;
}

.subMenu {
    border-top: 1px solid #c7c9d2;
    margin-top: 14px;
}

.subMenu h2 {
    color: #0187b5;
    font-size: 24px;
    margin-top: 11px;
}

.subIcons {
    margin: 30px 0 0 0;
    outline: none;
}

.subIcons li {
    margin-right: 10px;
    position: relative;
    display: block;
    float: left;
}

.subIcons a {
    margin: 0;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #aeafb3;
    background-color: #067ea0;
    width: 72px;
    height: 72px;
    text-align: center;
    line-height: 82px;
    outline: none;
}

.subIcons a:hover {
    background-color: #aeafb3;
    color: #067ea0;
}

.menu-subIcons {
    font-size: 29px !important;
}

/*Landing page new css*/
.menuContainer .clear-br {
    clear: both;
}

.menuContainer .nav>li>a:after {
    content: "|";
    padding: 0 10px;
    color: #81818b;
    font-weight: bold;
}

.menuContainer .nav>li:last-child>a:after {
    content: "";
}

.menuContainer .nav>li>a {
    padding: 0;
    color: #03a08d;
}

.menuContainer .nav>li>a:focus,
.menuContainer .nav>li>a:hover {
    background-color: transparent;
    color: $primary-text;
}

.menuContainer .nav {
    padding-left: 1px;
}

.menuContainer .title {
    color: $primary-text;
    font-size: 16px;
    font-weight: bold;
}

.menuContainer .navLinks {
    padding-left: 18px;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px dashed #878d9b;
    font-size: 14px;
}

.menuContainer .glyphicon-play-circle:before {
    color: $primary-text;
    font-size: 14px;
    margin-right: 2px;
}

.menuContainer.subIcons-container .col-sm-12 {
    padding: 14px 0 0 0;
}

.menuContainer {
    background: none repeat scroll 0 0 rgba(63, 64, 82, 0.3);
}

.subIcons-container {
    padding-bottom: 0 !important;
}

.menuContainer .row {
    margin: 0;
}

.menuContainer {
    margin-top: 15px;
    padding: 5px 50px;
    position: relative;
}

.menuContainer .back-to-top {
    position: absolute;
    right: 0;
    bottom: 0;
}

.menuContainer .back-to-top span,
.back-to-top span,
.back-to-top-inner span {
    display: inline-block;
}

.menuContainer .navbar {
    padding: 0 !important;
}

.back-to-top,
.back-to-top-inner {
    background: none;
    margin: 0;
    opacity: 0.8;
    position: fixed;
    bottom: 5%;
    right: 1.2%;
    width: 48px;
    height: 48px;
    z-index: 100;
    text-decoration: none;
    color: $primary-text;
    background-color: #a0a0a0;
    text-align: center;
    padding: 4px;
    display: none;
    outline: none;
    text-decoration: none;
}

.back-to-top i,
.back-to-top-inner i {
    font-size: 21px;
}

.mainIcon-container {
    margin: 40px auto 10px auto;
}

.mainIcon div {
    padding: 0px;
    border-right: 1px solid #0d8d83;
    color: $primary-text;
    text-align: justify;
}

.welcome a {
    padding: 0;
    color: #00b9a2;
    text-decoration: none;
}

.welcome a:focus,
.welcome a:hover {
    background-color: transparent;
    color: $primary-text;
    text-decoration: underline;
}

.browserInfo {
    color: $primary-text;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 350;
    border: none !important;
}

.noBorder {
    border: none !important;
}