{
  "extends": "stylelint-config-standard",
  "rules": {
    "no-empty-source":null,
    "indentation": 4,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["mixin", "each"]
    }],
    "no-descending-specificity": null
  }
}