<div [formGroup]="group">
    <fieldset>
        <legend [innerHTML]="field.label">  </legend>
        <div [formArrayName]="field.name">
            <div *ngFor="let control of group.controls[field.name].controls" [formGroup]="control">
                <label [attr.for]="control.controls.id.value" class="checkbox">
                    <input formControlName="checkbox" type="checkbox" (change)="onToggle()"/>
                    <span class="checkbox-label" [innerHTML]="control.controls.text.value"></span>
                </label>
            </div>
        </div>
        <!-- etc -->
    </fieldset>
    
    <p *ngIf="group.get(hiddenControlName).hasError('required') && group.controls[hiddenControlName].touched">
        At least one checkbox is required to check
    </p>
</div>
