<div class="form-group row marginTop10">
    <div class="col-sm-12">
        <select class="floatRight" (change)="setLangugage(selectField.value)" #selectField>
            <option value="null">Set Langugage</option>
            <option value="en">English</option>
            <option value="ja">Japanese</option>
        </select>
    </div>
</div>
<rx-form-renderer></rx-form-renderer>
<div class="form-group row marginTop10">
    <div class="offset-2 col-sm-9">
        <button class="btn btn-primary width100" (click)="editForm()">Edit</button>
    </div>
</div>
