<div class="demo-full-width" [formGroup]="group">
    <label [attr.for]="field.name">{{field.label}}</label>
    <div class="input-group">
        <input class="form-control" [attr.id]="field.name" [formControlName]="field.name"  autocomplete='off' ngbDatepicker #d="ngbDatepicker" 
        [placeholder]="field.placeholder" 
         (change)="onChange()">
         <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button">
                
            </button>
        </div>
    </div>
    <rx-error-container [field]="field" [group]="group"></rx-error-container>
</div>
