<div class="form-group row" [formGroup]="group">
    <label [attr.for]="field.name" class="col-sm-3 col-form-label" [ngClass]="field.customCssClass.label">{{field.label}}</label>
    <div class="col-sm-9" [ngClass]="field.customCssClass.container">
        <input class="form-control" [attr.id]="field.name" [formControlName]="field.name"  autocomplete='off' ngbDatepicker #d="ngbDatepicker" [placeholder]="field.placeholder" (change)="onChange()">
        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()" type="button">
        </button>
        <div class="position-absolute info-error">
            <rx-info *ngIf="field.infoTooltip" [data]="field.infoTooltip"></rx-info>
            <rx-error-container [field]="field" [group]="group"></rx-error-container>
        </div>
    </div>
</div>
