<div class="form-group row" [formGroup]="group">
    <label [attr.for]="field.name" class="col-sm-2 col-form-label" [ngClass]="field.customClassName.label">{{field.label}}</label>
    <div class="col-sm-10" [ngClass]="field.customClassName.container">
        <input [attr.id]="field.name" [formControlName]="field.name" [placeholder]="field.label" [type]="field.inputType" (change)="onChange()" class="form-control ">
        <div class="position-absolute info-error">
            <rx-info *ngIf="field.infoTooltip" [data]="field.infoTooltip"></rx-info>
            <rx-error-container [field]="field" [group]="group"></rx-error-container>
        </div>
    </div>
</div>
