<div class="form-group row" [formGroup]="group">
    <label [attr.for]="field.name" class="col-sm-3 col-form-label"
        [ngClass]="field.customCssClass.label">{{field.label}}</label>
    <div class="col-sm-9" [ngClass]="field.customCssClass.container">
        <angular2-multiselect [data]="field.options" [ngModelOptions]="{standalone: true}" [(ngModel)]="field.value"
            [settings]="field.settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
        <div class="position-absolute info-error">
            <rx-info *ngIf="field.infoTooltip" [data]="field.infoTooltip"></rx-info>
            <rx-error-container [field]="field" [group]="group"></rx-error-container>
        </div>
    </div>
</div>