@import '~assets/styles/_mixin.scss';
::ng-deep {
    form {
        margin-left: 100px;
    }

    .width-30 {
        @include set-width(30%);
    }

    .width-70 {
        @include set-width(70%);
    }
}
.errorMessage {
    background: #fdc5c6;
    border: 1px solid #fff;
    color: #a94442;
    margin: 5px 13px 0;
    position: absolute;
    padding: 2px 10px;
    width: max-content;
    display: inline;
    z-index: 2;

    &:before {
        border-color: transparent #fdc5c6 transparent transparent;
        border-style: solid;
        border-width: 5px 6px 5px 0;
        content: "\A";
        left: -6px;
        position: absolute;
        top: 6px;
    }
}

.info-error {
    left: 100%;
    top: 0;
}

.form-control.ng-invalid.ng-touched,
.invalid {
    border: 1px solid red;
}

.fa {
    color: black;
}

label,
.col-form-label {
    font-size: 16px;
    color: white;
}